* {
    margin: 0;
    padding: 0;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:root {
    --bg: #545f66;
    --primary: #49555a;
    --secondary: #bbc7ce;
    --text: #d0f4ea;
    --accent: #ff5964;
}

body {
    background: var(--bg);
    color: var(--text);
}

h1,
h2 {
    font-size: 1rem;
}

.container {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    min-height: 100%;
}

/* subform part */
h1 {
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--primary);
    border: 2px solid var(--accent);
    border-radius: 8px;
}

.form-container h1 {
    font-size: 1.2rem;
}

.form-container .info-subform {
    padding: 0 20px;
}

label {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    position: relative;
    max-width: 250px;
}

button {
    padding: 10px 40px;
    background: lightcoral;
    border: 2px solid pink;
    border-radius: 10px;
}

button:hover {
    background: lightpink;
}

button[type="submit"] {
    background: lightgreen;
    border: 2px solid green;
}

button:active {
    background: pink;
}

button[type="submit"]:hover {
    background: lightblue;
}

button[type="submit"]:active {
    background: green;
}

/* CV part */
.resume-container {
    background: var(--secondary);
    color: #222;
    border: 2px solid var(--accent);
    border-radius: 8px;
    max-width: 100%;
    min-height: 100%;

    padding: 20px 40px;
    cursor: default;
}

.resume-container .info-card {
    display: flex;
}

.resume-container .title {
    font-size: 1.5rem;
    padding: 20px 0px;
}

.resume-container > .title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.info-name {
    font-weight: bold;
}

.General-info .mail {
    display: flex;
    gap: 8px;
}
